<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<%- model_class = Renter -%>

<div id="failed" class="modal-body">
  <%= render 'form' %>
</div>
<div id="success"></div>
</div>

